
#name {
    background-color:#4aaaa5;
    position: absolute;
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    width: fit-content;
    height: 100%;
    left: 0%;
}

#box-footer {
    background-color: #4aaaa5;
    height: 10%;
    bottom: 0;
    margin-bottom: 0%;
    position: relative;
}

footer {
    background-color: #666666;
    padding: 1%;
}

.jumbotron-fluid {
    padding: 3%;
}

body {
    background-color: #dddddd;
}

h3 {
    color: #4aaaa5;
}

p, .nav-link{
    color: #777777;
}

footer {
    color: #dddddd;
    font-size: 12px;
    padding-top: 2%;
}

* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
}

#name, .nav-link {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
